/* --------------------------------------------
$  CARDS (MAIN // HOME PAGE)
 --------------------------------------------*/

.feed {
    display: grid;
    grid-auto-rows: 35em;
    grid-gap: 1.6em;
    grid-template-columns: repeat(12, 1fr);
    margin: 5rem auto 4rem auto;
    max-width: 100em;

    .card {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 2rem;
        transition: all 0.3s ease;

        &:hover {
            cursor: pointer;
            transform: scale(1.02);
        }

        &:nth-child(1),
        &:nth-child(6),
        &:nth-child(7) {
            grid-column-start: span 6;
        }

        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(8),
        &:nth-child(9) {
            grid-column-start: span 3;
        }

        @media screen and (max-width: 1200px) {
            &:nth-child(n) {
                grid-column-start: span 6;
            }
        }

        @media screen and (max-width: 800px) {
            &:nth-child(n) {
                grid-column-start: span 12;
            }
        }

        .card__subject,
        .card__category {
            color: colour(white);
            font-family: font(geogrotesque);
            font-size: font-size(nav-link);
            font-weight: normal;
            line-height: line-height(subject);
            margin: 0;
            padding: 0;
        }

        .card__wrapper {
            width: max-content;
            background-color: colour(black-tr);
            border-radius: 5px;
            padding: 5px 5px 3px 5px;
            margin-bottom: 0.4rem;

            .card__category {
                text-transform: uppercase;
            }
        }

        .card__title {
            font-family: font(headline);
            font-size: font-size(title-card);
            color: colour(white);
            font-weight: normal;
            line-height: line-height(title-card);
            margin: 1rem 0 0 0;
        }
    }
}
