/* --------------------------------------------
$  BASIC STYLES
 --------------------------------------------*/

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
    box-sizing: border-box;
    // cursor: url(http://ani.cursors-4u.net/cursors/cur-12/cur1080.cur), auto !important;
}

/**
 * Set up a decent box model on the root element
 */
html,
body {
    width: 100vw;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

html {
    display: block;
    box-sizing: border-box;
    // 10px = 1rem
    font-size: 62.5%;
}

/**
 * Basic styles for the background
 */

body {
    background-color: colour(cod-gray);
    margin: 0 auto;
    padding: 0;
    max-width: 1280px;
}

.wrapper {
    display: flex;
    flex-direction: column;

    .page {
        flex: 1 0 auto;
        width: 100%;
        min-height: calc(100vh - 21em);
    }
}

/**
 * Basic styles for the comments box
 */

.comments {
    max-width: 84em;
    padding: 5px 10px;
    margin: 2rem auto 2rem auto;
}

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}

/* Individual item */
.bm-item {
    display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}
