/* --------------------------------------------
$  BASIC STYLES
 --------------------------------------------*/

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
    box-sizing: border-box;
    // cursor: url(http://ani.cursors-4u.net/cursors/cur-12/cur1080.cur), auto !important;
}

/**
 * Set up a decent box model on the root element
 */
html,
body {
    width: 100vw;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

html {
    display: block;
    box-sizing: border-box;
    // 10px = 1rem
    font-size: 62.5%;
}

/**
 * Basic styles for the background
 */

body {
    background-color: colour(cod-gray);
    margin: 0 auto;
    padding: 0;
    max-width: 1280px;
}

.wrapper {
    display: flex;
    flex-direction: column;

    .page {
        flex: 1 0 auto;
        width: 100%;
        min-height: calc(100vh - 21em);
    }
}

/**
 * Basic styles for the comments box
 */

.comments {
    max-width: 84em;
    padding: 5px 10px;
    margin: 2rem auto 2rem auto;
}
