/* --------------------------------------------
$  TYPOGRAPHY
 --------------------------------------------*/
/* --------------------------------------------
$  A note on px, em and rem
$  -> PX are used in this project only for images,
$  that will have a static size no matter what;
$  -> REM are used for all typography (font-size,
$  line-height, margin, padding);
$  -> EM are used for all media queries, layout-
$  related components, etc.
 --------------------------------------------*/
/* --------------------------------------------
$  FONT-FAMILY 
 --------------------------------------------*/
$fonts: (
    headline: (
        'Tiempos Headline',
        serif
    ),
    praktikal: (
        'TG Praktikal',
        monospace
    ),
    myriad: (
        'Myriad Pro',
        sans-serif
    ),
    meta: (
        'Meta Serif Pro',
        Georgia,
        serif
    ),
    geogrotesque: (
        'Geogrotesque',
        sans-serif
    )
);

@function font($font-name) {
    @return map-get($fonts, $font-name);
}

/* --------------------------------------------
$  FONT-SIZE 
 --------------------------------------------*/
$font-sizes: (
    nav-logo: 3rem,
    title-featured: 4.2rem,
    title-article: 3.6rem,
    title-card: 2.2rem,
    banner-text: 4.8rem,
    ptext: 2rem,
    subtitle-featured: 1.8rem,
    nav-link: 1.6rem,
    footer: 1.5rem,
    button: 1.4rem,
    small: 1.2rem
);

@function font-size($font-size-name) {
    @return map-get($font-sizes, $font-size-name);
}

/* --------------------------------------------
$  LINE-HEIGHT 
 --------------------------------------------*/
$line-heights: (
    title-featured: 6rem,
    title-article: 4.2rem,
    title-card: 2.8rem,
    article: 3.2rem,
    subtitle-featured: 2.5rem,
    subject: 2rem,
    footer: 1.8rem
);

@function line-height($line-height-name) {
    @return map-get($line-heights, $line-height-name);
}
