/* --------------------------------------------
$  FUNCTIONS
 --------------------------------------------*/

/* COLOUR MAP */
$colours: (
    white: rgb(255, 255, 255),
    black: rgb(0, 0, 0),
    black-tr: rgba(0, 0, 0, 0.3),
    cod-gray: rgb(10, 10, 10),
    cod-gray-tr: rgba(10, 10, 10, 0.5),
    sazerac: rgb(255, 241, 229),
    // gradient animation
    apricot: rgb(255, 204, 178),
    sky: rgb(7, 216, 255),
    shiraz: rgb(167, 0, 60),
    crimson: rgb(183, 0, 58),
    folly: rgb(255, 0, 86),
    radical: rgb(255, 67, 102),
    pastel: rgb(255, 112, 104),
    // text gradient animation
    orange: rgb(255, 70, 0),
    chrome: rgb(255, 167, 0),
    turquoise: rgb(45, 226, 230)
);

@function colour($colour-name) {
    @return map-get($colours, $colour-name);
}
