/* --------------------------------------------
$  FUNCTIONS
 --------------------------------------------*/

/* COLOUR MAP */
$colours: (
    white: rgb(255, 255, 255),
    cod-gray: rgb(10, 10, 10),
    cod-gray-tr: rgba(10, 10, 10, 0.5),
    lonestar-light: lighten(rgb(117, 0, 1), 5%),
    lonestar-dark: darken(rgb(117, 0, 1), 5%),
    lonestar-darker: darken(rgb(117, 0, 1), 11%),
    apricot: rgb(255, 204, 178),
    siren: rgb(129, 4, 52),
    shiraz: rgb(167, 0, 60),
    radical: rgb(255, 67, 102),
    pastel: rgb(255, 112, 104)
);

@function colour($colour-name) {
    @return map-get($colours, $colour-name);
}
