/* --------------------------------------------
$  MIXINS
 --------------------------------------------*/

// keyframes
@mixin keyframes($name) {
    @keyframes #{$name} {
        @content;
    }
}

// button gradient animation
@include keyframes(gradient) {
    0% {
        background-position: 0% 51%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 51%;
    }
}

// text gradient animation
@include keyframes(hue) {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

// sticky nav move down
@include keyframes(moveDown) {
    from {
        transform: translateY(-5rem);
    }
    to {
        transform: translateY(0rem);
    }
}
