/* --------------------------------------------
$  MIXINS
 --------------------------------------------*/
// button gradient animation
@mixin keyframes($name) {
    @keyframes #{$name} {
        @content;
    }
}

// Create Keyframes
@include keyframes(gradient) {
    0% {
        background-position: 0% 51%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 51%;
    }
}

// text gradient animation
@mixin keyframes($name) {
    @keyframes #{$name} {
        @content;
    }
}

// Create Keyframes
@include keyframes(texthue) {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}
