/* --------------------------------------------
$  MEDIA QUERIES
 --------------------------------------------*/
/* width */
$tablet: 601px;
$desktop: 1025px;
$desktop-l: 1921px;

/* ---------------------------
$  MIXINS
 ----------------------------*/
@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin desktop-l {
    @media (min-width: #{$desktop-l}) {
        @content;
    }
}
