/* --------------------------------------------
$  VARIABLES
 --------------------------------------------*/

/// PADDING
$padding-xxs: 0.5rem;
$padding-xs: 1rem;
$padding-s: 2rem;
$padding-m: 5rem;
$border: 5px;
