/* --------------------------------------------
$  FONT FACES
 --------------------------------------------*/

/* TG PRAKTIKAL - NAV */
@font-face {
    font-family: 'TG Praktikal';
    src: url('TG-Praktikal-Regular.eot');
    src: url('TG-Praktikal-Regular.eot?#iefix') format('embedded-opentype'),
        url('TG-Praktikal-Regular.woff') format('woff'),
        url('TG-Praktikal-Regular.woff2') format('woff2'),
        url('TG-Praktikal-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'TG Praktikal';
    src: url('TG-Praktikal-Bold.eot');
    src: url('TG-Praktikal-Bold.eot?#iefix') format('embedded-opentype'),
        url('TG-Praktikal-Bold.woff') format('woff'),
        url('TG-Praktikal-Bold.woff2') format('woff2'),
        url('TG-Praktikal-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

/* TIEMPOS HEADLINE - headlines */
@font-face {
    font-family: 'Tiempos Headline';
    src: url('TiemposHeadline-Medium.eot');
    src: url('TiemposHeadline-Medium.eot?#iefix') format('embedded-opentype'),
        url('TiemposHeadline-Medium.woff') format('woff'),
        url('TiemposHeadline-Medium.woff2') format('woff2'),
        url('TiemposHeadline-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

/* META SERIF PRO - main text */
@font-face {
    font-family: 'Meta Serif Pro';
    src: url('Meta-Serif-Pro-Book.eot');
    src: url('Meta-Serif-Pro-Book.eot?#iefix') format('embedded-opentype'),
        url('Meta-Serif-Pro-Book.woff') format('woff'),
        url('Meta-Serif-Pro-Book.woff2') format('woff2'),
        url('Meta-Serif-Pro-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Meta Serif Pro';
    src: url('Meta-Serif-Pro-Book-Ita.eot');
    src: url('Meta-Serif-Pro-Book-Ita.eot?#iefix') format('embedded-opentype'),
        url('Meta-Serif-Pro-Book-Ita.woff') format('woff'),
        url('Meta-Serif-Pro-Book-Ita.woff2') format('woff2'),
        url('Meta-Serif-Pro-Book-Ita.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Meta Serif Pro';
    src: url('Meta-Serif-Pro-Bold.eot');
    src: url('Meta-Serif-Pro-Bold.eot?#iefix') format('embedded-opentype'),
        url('Meta-Serif-Pro-Bold.woff') format('woff'),
        url('Meta-Serif-Pro-Bold.woff2') format('woff2'),
        url('Meta-Serif-Pro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Meta Serif Pro';
    src: url('Meta-Serif-Pro-Bold-Ita.eot');
    src: url('Meta-Serif-Pro-Bold-Ita.eot?#iefix') format('embedded-opentype'),
        url('Meta-Serif-Pro-Bold-Ita.woff') format('woff'),
        url('Meta-Serif-Pro-Bold-Ita.woff2') format('woff2'),
        url('Meta-Serif-Pro-Bold-Ita.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: fallback;
}

/* MYRIAD PRO - alt text and captions */
@font-face {
    font-family: 'Myriad Pro';
    src: url('Myriad-Pro-Regular.eot');
    src: url('Myriad-Pro-Regular.eot?#iefix') format('embedded-opentype'),
        url('Myriad-Pro-Regular.woff') format('woff'),
        url('Myriad-Pro-Regular.woff2') format('woff2'),
        url('Myriad-Pro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('Myriad-Pro-Semibold.eot');
    src: url('Myriad-Pro-Semibold.eot?#iefix') format('embedded-opentype'),
        url('Myriad-Pro-Semibold.woff') format('woff'),
        url('Myriad-Pro-Semibold.woff2') format('woff2'),
        url('Myriad-Pro-Semibold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('Myriad-Pro-Semibold-Ita.eot');
    src: url('Myriad-Pro-Semibold-Ita.eot?#iefix') format('embedded-opentype'),
        url('Myriad-Pro-Semibold-Ita.woff') format('woff'),
        url('Myriad-Pro-Semibold-Ita.woff2') format('woff2'),
        url('Myriad-Pro-Semibold-Ita.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: fallback;
}

/* GEOGROTESQUE - subjects on cards */
@font-face {
    font-family: 'Geogrotesque';
    src: url('Geogrotesque.eot');
    src: url('Geogrotesque.eot?#iefix') format('embedded-opentype'),
        url('Geogrotesque.woff') format('woff'),
        url('Geogrotesque.woff2') format('woff2'),
        url('Geogrotesque.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}
