// This is the css file for the archive.js

.archive__header {
    .dumpster__hero {
        background-position: 50% 85%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 76em;
        left: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        position: absolute;
        right: 50%;
        width: 100vw;
        z-index: -1;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(
                to top,
                rgba(10, 10, 10, 1) 0%,
                rgba(10, 10, 10, 0.8) 30%,
                rgba(10, 10, 10, 0) 100%
            );
        }
    }

    .dumpster__nav {
        display: flex;
        min-height: 20em;
        padding: 6em 0 0 0;
        justify-content: space-around;
        align-items: flex-end;
        margin-bottom: 6em;

        @include desktop {
            padding: 0 14rem;
            justify-content: space-evenly;
        }
    }

    .dumpster__nav--link {
        font-family: font(geogrotesque);
        font-size: font-size(subtitle-featured);
        font-weight: normal;
        color: colour(apricot);
        transition: all 0.3s ease 0s;
        text-decoration: none;
        text-transform: uppercase;
        padding: 5px 5px 4px 5px;

        &:active {
            color: white;
        }

        &:hover {
            color: colour(white);
            width: max-content;
            background-color: colour(black-tr);
            border-radius: 5px;
            padding: 5px 5px 4px 5px;

            &:after {
                width: 100%;
            }
        }

        &:after {
            content: '';
            display: dumpster;
            width: 0;
            height: 3px;
            transition: width 0.3s;
            margin-top: 1rem;
        }
    }
}

.pagination {
    display: flex;
    padding: 0 10%;
    margin: 1rem 0 3rem 0;
    justify-content: center;

    .pagination__item {
        align-self: center;
        margin: 0 3rem 4rem 3rem;

        .arrow__next {
            height: 20px;
            width: 20px;
            opacity: 0.5;
            border: 1px solid white;
            border-width: 4px 4px 0 0;
            transform: rotate(45deg);
            transition: all 0.3s ease;

            &:hover {
                height: 20px;
                width: 20px;
                opacity: 1;
                border: 1px solid blueviolet;
                border-width: 4px 4px 0 0;
                transform: rotate(45deg);
                transition: all 0.3s ease;
            }
        }

        .arrow__back {
            height: 20px;
            width: 20px;
            opacity: 0.5;
            border: 1px solid white;
            border-width: 4px 4px 0 0;
            transform: rotate(225deg);
            transition: all 0.3s ease;

            &:hover {
                height: 20px;
                width: 20px;
                opacity: 1;
                border: 1px solid blueviolet;
                border-width: 4px 4px 0 0;
                transform: rotate(225deg);
                transition: all 0.3s ease;
            }
        }
    }
}
