/* --------------------------------------------
$  DUMPSTER (ARTICLE PAGE)
 --------------------------------------------*/
.dumpster__header {
    .dumpster__hero {
        background-position: 50% 35%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 46em;
        left: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        position: absolute;
        right: 50%;
        width: 100vw;
        z-index: -1;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(
                to bottom,
                rgba(10, 10, 10, 1) 0%,
                rgba(10, 10, 10, 0.8) 20%,
                rgba(10, 10, 10, 0) 100%
            );
        }
    }
    .dumpster__info {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 46em;

        .dumpster__banner {
            color: colour(white);
            font-family: font(praktikal);
            font-size: font-size(banner-text);
            font-weight: normal;
            max-width: 66.4rem;
            text-align: center;
            text-shadow: 0.5rem 0.5rem 1.5rem black;
        }
    }
}

.dumpster__wrapper {
    background-color: colour(sazerac);
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    position: absolute;
    right: 50%;
    width: 100vw;

    .dumpster__container {
        margin: 6rem auto;
        max-width: 84em;

        .dumpster__title {
            font-family: font(headline);
            font-size: font-size(title-article);
            font-weight: normal;
            line-height: line-height(title-article);
            max-width: 82rem;
        }

        .dumpster__metadata {
            font-family: font(myriad);
            font-size: font-size(button);
            line-height: line-height(subtitle-featured);

            .dumpster__category {
                span {
                    text-transform: uppercase;
                    font-weight: bold;
                    font-style: italic;
                }
            }

            .dumpster__subject {
                text-transform: uppercase;
                font-weight: bold;
            }

            hr {
                display: block;
                height: 1px;
                border: 0;
                border-top: 1px solid colour(cod-gray);
                margin: 0.5em 0;
                padding: 0;
            }
        }
    }

    .dumpster__content {
        margin: 6rem auto;
        max-width: 84em;

        p {
            color: colour(black);
            font-family: font(meta);
            font-size: font-size(ptext);
            font-weight: normal;
            line-height: line-height(article);
            margin: 3.5rem 0;
        }

        figcaption {
            font-family: font(myriad);
            font-size: font-size(nav-link);
            line-height: line-height(article);
            font-weight: normal;
            max-width: 80rem;
            margin: 0 auto;
        }

        // first letter of the text block
        .capital {
            font-size: font-size(title-featured);
        }

        // italic elements
        .emphasis {
            font-style: italic;
        }

        figure {
            margin: 0 auto;
            max-width: 664px;

            img {
                align-self: center;
                border-radius: 0.5rem;
                margin: 2rem auto 0 auto;
                max-width: 664px;
            }
        }

        .embedVideo-container {
            align-self: center;
            margin: 5rem auto 0.5rem auto;
            width: 80em;
        }
    }
}
