.page {
    max-width: 1000px;
    margin: 0 auto;

    .container {
        padding-top: 10rem;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        justify-content: space-around;

        @include desktop {
            padding-top: 15rem;
            flex-direction: row;
        }

        iframe {
            margin: 0 auto;
            width: 500px;
            height: 400px;

            @include desktop {
                width: 310px;
                height: 800px;
            }
        }
    }
}

.comments {
    max-width: 84em;
    color: white;
    padding: 5px 10px;
    margin: 5rem auto 2rem auto;

    &:hover {
        border-radius: 20px;

        & h2 {
        }
    }

    & h2 {
        margin-bottom: 0;
        font-weight: bold;
    }

    & .Date {
        opacity: 0.5;
        font-weight: 600;
    }

    & .Excerpt {
        line-height: 25px;
    }

    & p {
    }
}
