.rankings__feed {
    font-size: 2rem;
    padding-top: 10rem;
    margin: 0 auto;
    text-align: center;

    p {
        font-family: font(myriad);
        color: white;
    }

    .search-component {
        position: relative;
        margin: 0 auto 4rem auto;
        padding: 0;

        .search-component__field input {
            background-color: white;
            width: 30rem;
            font-family: font(geogrotesque);
            padding: 0.5rem;
            border: 1px solid white;
            border-radius: 0.5rem;
            outline: none;
            outline-color: white;
            margin-bottom: 2rem;
        }

        .search-component__results {
            max-width: 100rem;
            background-color: rgba(32, 32, 32, 0.4);
            border-radius: 20px;
            padding: 1rem 0 2rem 0;
            margin: 0 auto;
            border-spacing: 0rem;

            thead {
                tr {
                    height: 70px;
                    text-transform: uppercase;

                    th {
                        color: colour(white);
                        opacity: 0.7;
                        font-family: font(praktikal);
                        font-size: 1.6rem;
                        padding: 1rem 1.5rem;
                    }
                }
            }

            tbody {
                tr {
                    text-transform: uppercase;
                    font-size: 1.7rem;
                    color: white;
                    font-family: font(myriad);

                    td {
                        padding: 0.3rem 0.9rem;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.2);

                        &:nth-of-type(1),
                        &:last-of-type {
                            border-bottom: transparent;
                        }
                    }

                    a {
                        text-decoration: underline;
                        color: greenyellow;
                        font-size: 1.7rem;
                        cursor: pointer;
                        line-height: 2.5rem;
                    }

                    .artwork img {
                        max-width: 100px;
                        height: auto;
                        border-radius: 10px;
                    }

                    .score {
                        font-size: 2.5rem;
                    }

                    .pitchfork {
                    }
                }
            }
        }
    }
}
