.search-component {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;

    .search-component__field input {
        background-color: white;
        width: 30rem;
        padding: 0.5rem;
        border: 1px solid purple;
        border-radius: 0.5rem;
        outline: none;
        outline-color: yellow;
    }

    table {
        margin: 0 auto;

        th {
            padding: 1rem 3rem;
        }
    }
}

.search-component__results tr {
    padding: 4px;
    width: 100%;
    list-style: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: white;

    a {
        text-decoration: underline;
        color: greenyellow;
        font-size: 2rem;
        cursor: pointer;
        line-height: 2.5rem;
    }

    img {
        max-width: 100px;
        height: auto;
    }
}

.rankings {
    font-size: 2rem;
    padding-top: 10rem;
}

.rankings__feed {
    font-size: 2rem;
    padding-top: 10rem;
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
}

.artwork img {
    max-width: 100px;
    height: auto;
}
