/* --------------------------------------------
$  CONTACT FORM
 --------------------------------------------*/
.submit__header {
    .submit__hero {
        background-position: 50% 85%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 76em;
        left: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        position: absolute;
        right: 50%;
        width: 100vw;
        z-index: -1;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(
                to top,
                rgba(10, 10, 10, 1) 0%,
                rgba(10, 10, 10, 0.8) 30%,
                rgba(10, 10, 10, 0) 100%
            );
        }
    }
}

.submit__section {
    max-width: 1000px;
    padding-top: 18rem;
    margin: 0 auto;

    .submit__form {
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 20px;
        max-width: 55rem;
        margin: 0 auto 7rem auto;
        padding-bottom: 0.1rem;
        padding-top: 1rem;

        h1 {
            font-family: font(myriad);
            color: colour(white);
            font-size: 2rem;
            font-weight: normal;
            line-height: 4rem;
            text-align: center;
            margin: 0 auto;
            max-width: 500px;
            padding: 2rem 0;
        }

        .inner {
            margin: 2rem auto;

            .form {
                font-family: font(geogrotesque);
                color: colour(white);
                font-size: 2rem;
                width: 100%;

                label {
                    font-size: 2.5rem;
                    text-transform: uppercase;
                    display: flex;
                    flex-direction: column;
                    margin: 3rem auto 1rem auto;
                    text-align: center;
                }

                textarea,
                input {
                    width: 30rem;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    margin: 0 auto;
                    text-align: center;
                    background-color: rgba(255, 255, 255, 0.7);
                }
            }
        }
    }
}
