/* --------------------------------------------
$  CONTACT FORM
 --------------------------------------------*/
.submit__header {
    .submit__hero {
        background-position: 50% 85%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 76em;
        left: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        position: absolute;
        right: 50%;
        width: 100vw;
        z-index: -1;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(
                to top,
                rgba(10, 10, 10, 1) 0%,
                rgba(10, 10, 10, 0.8) 30%,
                rgba(10, 10, 10, 0) 100%
            );
        }
    }
}

.submit__section {
    max-width: 1000px;
    margin: 20rem auto;

    .submit__form {
        h1 {
            font-family: font(myriad);
            color: colour(white);
            font-size: 2rem;
            font-weight: normal;
        }

        .form {
            font-family: font(geogrotesque);
            color: colour(white);
            font-size: 2rem;
            width: 100%;

            #name {
            }

            label {
                font-size: 2.5rem;
                text-transform: uppercase;
            }
        }
    }
}
