/* --------------------------------------------
$  BUTTON
 --------------------------------------------*/
.btn__med,
.btn__more {
    background: colour(cod-gray);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    border: none;
    color: colour(white);
    cursor: pointer;
    font-family: font(myriad);
    font-size: font-size(button);
    font-weight: normal;
    height: 3.8rem;
    outline: none;
    text-decoration: none;
    transition: all 0.3s ease;
    user-select: none;
    width: 10.6rem;

    &:hover {
        background: linear-gradient(
            210deg,
            colour(shiraz),
            colour(radical),
            colour(pastel),
            colour(apricot)
        );
        animation: hue 4s linear 1;
        background-size: 400% 400%;
        box-shadow: 0.3rem 0.3rem 0.2rem 0.2rem rgba($color: white, $alpha: 0.6);
    }

    &:active {
        box-shadow: 0.2rem 0.2rem 0.1rem 0.1rem rgba($color: white, $alpha: 0.3);
        transform: translateY(4px);
    }
}

.btn__more {
    display: block;
    font-size: font-size(subtitle-featured);
    line-height: 3.8rem;
    margin: 3rem auto 8.5rem auto;
    text-align: center;
    width: 13.6rem;
}
