/* --------------------------------------------
$  BUTTON
 --------------------------------------------*/
.btn__med,
.btn__more {
    background-color: colour(cod-gray);
    border-radius: 5px;
    border: none;
    color: colour(white);
    cursor: pointer;
    font-family: font(myriad);
    font-size: font-size(button);
    font-weight: normal;
    height: 38px;
    text-decoration: none;
    transition: all 0.3s ease;
    width: 106px;

    &:hover {
        background-color: rgb(110, 17, 51);
        box-shadow: 3px 3px 2px 2px rgba($color: white, $alpha: 0.7);
    }

    &:active {
        transform: translateY(4px);
        box-shadow: 1px 1px 1px 1px rgba($color: white, $alpha: 0.7);
    }
}

.btn__more {
    display: block;
    font-size: font-size(subtitle-featured);
    line-height: 38px;
    margin: 30px auto 85px auto;
    text-align: center;
    width: 136px;
}
