/* --------------------------------------------
$  TOGGLE BUTTON (NAV)
 --------------------------------------------*/
.button__toggle {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    height: 3rem;
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    justify-content: space-around;

    &:focus {
        outline: none;
    }

    @include desktop {
        display: none;
    }

    .button-line__toggle {
        width: 3rem;
        height: 0.2rem;
        background: white;
    }
}
