/* --------------------------------------------
$  FOOTER
 --------------------------------------------*/
.footer {
    .footer__hero {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 67em;
        left: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        position: absolute;
        right: 50%;
        transform: translateY(-44em);
        width: 100vw;
        z-index: -1;
    }

    // footer hero of all pages except for the home page
    .footer__web--hero {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 21em;
        left: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        position: absolute;
        right: 50%;
        transform: translateY(0);
        width: 100vw;
        z-index: -1;
    }

    .nav__footer--home {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 21em;
        left: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        position: absolute;
        right: 50%;
        transform: translateY(10em);
        width: 100vw;
        background: linear-gradient(
            to bottom,
            rgba(10, 10, 10, 0.3) 0%,
            rgba(10, 10, 10, 0.4) 50%,
            rgba(10, 10, 10, 0.7) 100%
        );
    }

    // footer of all pages except for the home page
    .nav__footer--web {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 21em;
        left: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        position: absolute;
        right: 50%;
        transform: translateY(8em);
        width: 100vw;
        background: linear-gradient(
            to bottom,
            rgba(10, 10, 10, 0.2) 0%,
            rgba(10, 10, 10, 0.44) 50%,
            rgba(10, 10, 10, 1) 100%
        );
    }

    .nav__footer--home,
    .nav__footer--web {
        .footer__items {
            display: flex;
            justify-content: center;
            margin: 4rem auto 1rem auto;

            .footer__item--link {
                font-size: font-size(footer);
                color: colour(white);
                font-family: font(myriad);
                margin-right: 3rem;
                text-decoration: none;
                text-transform: uppercase;
                transition: all 0.3s ease;

                &:hover {
                    color: colour(cod-gray-tr);
                    transition: all 0.3s ease;
                }
            }
        }

        .social__icons {
            display: flex;
            justify-content: center;
            margin: 0 auto 1rem auto;

            .social__icon--link {
                margin-right: 1rem;

                .social__icon {
                    height: 3.5rem;
                    stroke: white;
                    transition: all 0.3s ease;
                    width: 3.5rem;

                    &:hover {
                        stroke: colour(cod-gray-tr);
                        transform: scale(1.2);
                        transition: all 0.3s ease;
                    }
                }

                .social--music__icon {
                    fill: white;
                    height: 3.5rem;
                    stroke: white;
                    transition: all 0.3s ease;
                    width: 3.5rem;

                    &:hover {
                        fill: colour(cod-gray-tr);
                        stroke: colour(cod-gray-tr);
                        transform: scale(1.2);
                        transition: all 0.3s ease;
                    }
                }
            }
        }

        .disclaimer {
            font-family: font(myriad);
            font-size: font-size(button);
            font-weight: normal;
            line-height: line-height(footer);
            margin: 0 auto 3rem auto;
            max-width: 100rem;
            text-align: center;
            text-transform: none;
        }
    }
}
