/* --------------------------------------------
$  GRID
 --------------------------------------------*/

/**
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 0.8fr;
    height: 100vh;
    margin: 0;

    grid-template-areas:
        'header'
        'main'
        'footer';

    header {
        grid-area: header;
    }

    main {
        grid-area: main;
    }

    footer {
        grid-area: footer;
    }
}
*/
