/* --------------------------------------------
$  NAV (header)
 --------------------------------------------*/
nav {
    color: colour(white);
    font-family: font(praktikal);
    font-weight: normal;
    margin: -8rem auto 0 auto;
    text-decoration: none;
    text-transform: lowercase;
    transform: translateY(8em);
    width: 100vw;

    @include desktop {
        width: 100em;
    }

    .nav__items {
        align-items: center;
        background-color: transparent;
        border: none;
        display: flex;
        height: 3rem;
        margin-top: 2rem;

        @include desktop {
            height: 4rem;
            justify-content: flex-end;
            margin-top: 4rem;
        }

        /* logo */
        .nav__item--left {
            color: colour(white);
            position: relative;
            text-decoration: none;
            margin: 0 auto;
            width: 19em;

            @include desktop {
                margin: 0 auto 0 0;
            }

            &:hover .nav__item--logo {
                stroke: url(#svg-gradient-hover);
                transform: scale(1.02);
                transition: all 0.3s ease;
            }

            &:hover span {
                background-image: linear-gradient(
                    45deg,
                    colour(turquoise),
                    colour(chrome)
                );
                background-clip: text;
                -webkit-text-fill-color: transparent;
                // calling the keyframe "hue" from _mixins.scss
                animation: hue 6s infinite linear;
                transform: scale(1.1);
                transition: all 0.3s ease;
            }

            .nav__item--logo {
                height: 4.5rem;
                transform: scaleX(-1);
                transition: all 0.3s ease;
            }

            span {
                font-size: font-size(nav-logo);
                margin-left: 0.6rem;
                position: absolute;
                top: 0.8rem;
                transition: all 0.3s ease;
            }
        }

        /* nav menu items */
        .nav__item--link {
            display: none;

            @include desktop {
                display: block;
                color: colour(white);
                font-size: font-size(nav-link);
                font-weight: normal;
                margin-left: 2.5rem;
                text-decoration: none;
                transition: all 0.3s ease;
            }

            &:hover {
                background-image: linear-gradient(
                    92deg,
                    colour(turquoise),
                    colour(chrome)
                );
                background-clip: text;
                -webkit-text-fill-color: transparent;
                animation: hue 2.5s infinite linear;
                transform: scale(1.1);
            }
        }

        .active {
            background-image: linear-gradient(
                92deg,
                colour(turquoise),
                rgb(255, 85, 196),
                colour(chrome)
            );
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}
