/* --------------------------------------------
$  NAV (header)
 --------------------------------------------*/

nav {
    color: colour(white);
    font-family: font(praktikal);
    font-weight: normal;
    margin: -80px auto 0 auto;
    text-decoration: none;
    text-transform: lowercase;
    transform: translateY(80px);
    width: 1000px;

    .nav__items {
        align-items: center;
        background-color: transparent;
        border: none;
        display: flex;
        height: 40px;
        justify-content: flex-end;
        margin-top: 40px;

        /* logo */
        .nav__item--left {
            color: colour(white);
            margin-right: auto;
            position: relative;
            text-decoration: none;

            &:hover .nav__item--logo {
                transform: scale(1.02);
                transition: all 0.3s ease;
            }

            &:hover span {
                transform: scale(1.1);
                transition: all 0.3s ease;
            }

            .nav__item--logo {
                height: 45px;
                transform: scaleX(-1);
                transition: all 0.3s ease;
            }

            span {
                font-size: font-size(nav-logo);
                margin-left: 6px;
                position: absolute;
                top: 8px;
                transition: all 0.3s ease;
            }
        }

        /* nav menu items */
        .nav__item--link {
            color: colour(white);
            font-size: font-size(nav-link);
            font-weight: normal;
            margin-left: 25px;
            text-decoration: none;
            transition: all 0.3s ease;

            &:hover {
                text-shadow: 3px 3px 12px colour(white);
            }

            &:active  {
                color: colour(shiraz);
            }
        }
    }
}
